layout {

    focus-ring {
    
        active-color "#c9bfff"
        inactive-color "#48454e"
 
    }

    border {
        active-color "#c9bfff"
        inactive-color "#c9bfff"
        urgent-color "#690005"
    }


}
